fastapi>=0.109.0
uvicorn[standard]>=0.27.0
spyne @ git+https://github.com/arskom/spyne.git
lxml>=5.0.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
cryptography>=46.0.5
PyYAML>=6.0
sqlalchemy-iris>=0.18.1